<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Marc Chagall's Page </title>
    <!--public/styles/styles.css --->
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
  <h1>About Chagall</h1>
  <h2>French-Russian Draftsman, Painter, and Printmaker</h2>
  <p>Marc Chagall's poetic, figurative style made him one of most popular modern artists, while his long life and varied output made him one of the most internationally recognized.</p>

  <p> While many of his peers pursued ambitious experiments that led often to abstraction, Chagall's distinction lies in his steady faith in the power of figurative art, one that he maintained despite absorbing ideas from Fauvism and Cubism.</p>

  <p> Born in Russia, Chagall moved to France in 1910 and became a prominent figure within the so-called Ecole de Paris. Later he spent time in the United States and the Middle East, travels which reaffirmed his self-image as an archetypal "wandering Jew."</p>

    <img src="/images/chagall.png">


    <ul>
    <li><a href="/"> Home <menu></a></menu></li>
    <li><a class="active" href="/about"> About <menu></a></menu></li>
    <li><a href="/gallery"> Gallery <menu></a></menu></li>
    </ul>

  </body>
</html>
