<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Marc Chagall's Page </title>
    <!--public/styles/styles.css --->
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
  <h1>Gallery</h1>
  <p>Chagall's Artwork</p>
  <div id="art1"></div>
  <div id="art2"></div>
  <div id="art3"></div>
  <div id="art4"></div>
  <div id="art5"></div>
  <div id="art6"></div>

  <ul>
  <li><a href="/"> Home <menu></a></menu></li>
  <li><a href="/about"> About <menu></a></menu></li>
  <li><a class="active" href="/gallery"> Gallery <menu></a></menu></li>
  </ul>

  </body>
</html>
