<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Marc Chagall Page </title>
    <!--public/styles/styles.css --->
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
  <h1>I am Marc Chagall</h1>
  <h2>French-Russian Draftsman, Painter, and Printmaker</h2>
  <h3>"My hands were too soft.. I had to find some special occupation,<br>
       some kind of work that would not force me to turn away from the sky and the stars,<br>
       that would allow me to discover the meaning of life."</h3>

  <div id="signature"><img src="/images/chagallsignature.png"></div>

  <img src="/images/chagallface.jpg">

  <ul>
  <li><a class="active" href="/"> Home <menu></a></menu></li>
  <li><a href="/about"> About <menu></a></menu></li>
  <li><a href="/gallery"> Gallery <menu></a></menu></li>
  </ul>

  </body>
</html>
